<% form_for article do %>

　<div id="cover-image" class="form-group padding-to-15 relative">
	<% if article.image_id.present? %>
	  <%= image_tag attachment_url(article, :image), class: 'article-image' %>
	<% else %>
	  <%= image_tag 'no-image.jpeg', class: 'article-image' %>
	<% end %>
	<i class="fa fa-camera"></i>
  </div>

  <%= f.attachment_field :image %>

  <div class="form-group padding-top-15">
  	<%= f.attachment_field :image %>
  </div>

  <div class="form_group padding-top-15">
  	<%= f.label :title, 'タイトル' %>
  	<%= f.text_feeld :title, class: 'form_control' %>
  </div>
  <div class="form_group">
  	<%= f.label :body, '本文' %>
  	<%= f.text_feeld :body, class: 'form_control' %>
  </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>